
.card-image{
    width: 50vw;
    max-height: 300px;
}

.commentBody p{ 
    margin-top: -0.8rem;
    margin-left: 1.5rem;
    font-size: 0.9rem;
    /* background-color: red; */
}
@media only screen and (max-width: 800px) {
    .container{
        margin-left: 0rem  !important;
    }
    .card-body{
        padding: 0 !important;
    }
    .card-image{
        width: 90vw;
    }
    .image_credit{
        margin-bottom: 2rem;
        font-size: small;   
    }
  }